.calcBtns{
    height: 90px;
    width: 90px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: aliceblue;
    user-select: none;
    box-shadow: 10px 10px 30px #c8bebe,-10px, -10px, 30px #ffffff;
  
    }


.res{
    width: 180px;
    background-color: #bed42d;
}